* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 1em;
  cursor: auto;
  line-height: 1.1;
}
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}


header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  justify-content: space-between;
  width: calc(100% - 40px);
  padding: 20px;
}
header h1 {
  color: white;
  cursor: pointer;
}
header a {

  text-decoration: none;
}

header h1:hover {
  color: red;
}

.firstContent {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(20,20,20,.82),rgba(20,20,20,.82)),url("background.png");
color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
    background-attachment: fixed;
}

button {
  width:160px;
  padding: 5px 0;
  text-align: center;
  margin-left: 20px 10px;
  font-weight: bold;
  border: 2px solid red;
  background: red;
  color: #fff;
  cursor: pointer;
  border-radius: 0%;
}

.page {
  width: 100%;
}

.secondContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 100px;
  justify-content: space-around;
  background-image: linear-gradient(rgba(0,0,0,.05),rgba(0,0,0,.05)),url("red.jpeg");
  background-position: center;
  background-repeat:  no-repeat;
  background-size: cover;  color: white;
  width: 100%;
}

.secondContentBlock{
  width: 200px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.3em;
}

.thirdContent {
  min-height: 600px;
  background-image: linear-gradient(rgba(255,255,255,.82),rgba(255,255,255,.82)),url("greyLines.jpg");
  background-position: center;
  background-repeat:  no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.thirdContentLeft {
  text-align: center;
  padding:40px;
  max-width: 400px;
}
.thirdContentRight {
  margin: 40px;

}

.thirdContentRightPicture {
  width: 200px;
}

.fourthContent {
  background-color: rgba(220,220,220,1);
  width: 100%;
}

.fourthContentTop {
  text-align: center;
  padding: 20px;
  font-size: 2em;
}

.fourthContentBottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.fourthContentBottomContent {
  width: 400px;
  padding: 20px;
}

.fourthContentBottomContent h1 {
  color: red;
}

.fifthContent {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(rgba(0,0,0,.05),rgba(0,0,0,.05)),url("red.jpeg");
  background-position: center;
  background-repeat:  no-repeat;
  background-size: cover;
}

.sixthContent {
  width: 100%;
  min-height: 400px;
  background-color: rgba(100,100,100,1);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

}

.sixthContentFirst h1 {
}

.form {
  width: 100%;
  padding: 30px;
}
.sixthContentFirst{
  min-width: 300px;

}

.sixthContentSecond {
  padding: 30px;
  min-width: 300px;
  text-align: center;

}

.textForm{
  width: 200px;
}

.textFormLong{
  width: 408px;
}

.footer{
  width: 100%;
  background-color: rgba(100,100,100,1);
  text-align: center;
  color: white;
}

.pageThankYou {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(180,180,180,1);
}

.oneThankYou{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wordBox{
  max-width: 400px;
  text-align: center;
}

@media only screen and (max-device-width:700px) {
  .sixthContentSecond {
    min-width: calc(100% - 60px);
    font-size: .5em;

  }
}
